n8n-workflow.json
{"name":"Assistente BCS - Gioco lecito art.110","nodes":[{"id":"Webhook_Entrada","name":"Webhook Assistente BCS","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,300],"parameters":{"httpMethod":"POST","path":"assistente-bcs","responseMode":"onReceived","options":{"responseContentType":"application/json"}}},{"id":"GeminiChat","name":"Gemini Chat - Assistente BCS","type":"n8n-nodes-langchain.lmchatgooglegemini","typeVersion":1,"position":[550,300],"credentials":{"googleGeminiApi":{"id":"","name":""}},"parameters":{"modelName":"gemini-2.0-flash-exp","temperature":0.3,"systemMessage":"Sei Assistente BCS, un assistente legale specializzato in gioco lecito in Italia (art. 110 TULPS, commi 6 e 7, AWP/VLT/apparecchi senza vincita, PREU, ISI, RIES, riordino rete fisica, ENADA e fiere di settore).\n\nStile: italiano chiaro ma divulgativo, rivolto a operatori del settore, esercenti, gestori e funzionari. Usa frasi brevi, spiegazioni concrete, niente gergo superfluo.\n\nRegole:\n- Rispondi solo sul gioco lecito in Italia; se la domanda esce tema, dillo.\n- Cita sempre il riferimento normativo o istituzionale (es. art. 110 TULPS, ADM, legge di bilancio, ENADA 2026, ecc.) quando e rilevante.\n- Se non hai certezza su un dettaglio, esplicita che sono previsioni e invita a verificare la fonte ufficiale.\n- Usa la knowledge base fornita dal gestore (KB_Art110_2025) che include aggiornamenti fino a dicembre 2025.\n\nFormato risposta:\n- Risposta in 1-3 paragrafi massimo.\n- Se utile, elenca in punti chiari: requisiti, scadenze, percentuali.","inputKey":"userMessage"}},{"id":"SetPrompt","name":"Prepara messaggio utente","type":"n8n-nodes-base.set","typeVersion":2,"position":[380,300],"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"userMessage","value":"={{ $json[\"message\"] || $json[\"text\"] || $json[\"prompt\"] || \"\" }}"},{"name":"sessionId","value":"={{ $json[\"sessionId\"] || $headers[\"x-session-id\"] || $headers[\"x-client-id\"] || \"anon\" }}"}]}}},{"id":"Respond","name":"Rispondi al widget","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[750,300],"parameters":{"responseMode":"lastNode","responseData":"={{ { \"reply\": $json.text || $json.content || $json.answer || \"Mi dispiace, non riesco a generare una risposta al momento.\", \"sessionId\": $json.sessionId || \"anon\" } }}","options":{"responseCode":200,"responseContentType":"application/json"}}}],"connections":{"Webhook Assistente BCS":{"main":[[{"node":"Prepara messaggio utente","type":"main","index":0}]]},"Prepara messaggio utente":{"main":[[{"node":"Gemini Chat - Assistente BCS","type":"main","index":0}]]},"Gemini Chat - Assistente BCS":{"main":[[{"node":"Rispondi al widget","type":"main","index":0}]]}}}
